<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="warn">
  Welcome to {{ title }}
</mat-toolbar>
<div style="text-align:center">
  <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<section class="checkboxes">
  <mat-checkbox>Option 1</mat-checkbox>
  <mat-checkbox>Option 2</mat-checkbox>
  <mat-checkbox>Option 3</mat-checkbox>
  <mat-checkbox>Option 4</mat-checkbox>
</section>

<section class="dropdown">
  <mat-form-field>
    <mat-select placeholder="Select Option">
      <mat-option>Option 1</mat-option>
      <mat-option>Option 2</mat-option>
      <mat-option>Option 3</mat-option>
      <mat-option>Option 4</mat-option>
    </mat-select>
  </mat-form-field>
</section>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <mat-card>Simple card</mat-card>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <mat-card>Simple card</mat-card>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <mat-card>Simple card</mat-card>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <mat-card>Simple card</mat-card>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <mat-card>Simple card</mat-card>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <mat-card>Simple card</mat-card>
    </div>
  </div>
</div>


<!-- <section class="material-components">
  <h3>Angular Material components with overriden styles:</h3>
  <div>
    <mat-checkbox color="primary">Check me!</mat-checkbox>
  </div>
  <div>
    <button mat-raised-button>Click me!</button>
  </div>
</section>
<section>
  <h3>Angular Material components with default styling:</h3>
  <div>
    <mat-checkbox>Check me!</mat-checkbox>
  </div>
  <div>
    <button mat-raised-button>Click me!</button>
  </div>
</section>

<section class="bootstrap-components">
    <h3>NgBootstrap components with overriden styles:</h3>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Simple">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>


<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul> -->