section {
    margin: 20px 0 20px 0;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;

    h3 {
        font-weight: bold;
    }
}

section.checkboxes, section.dropdown {
    border: none;
} 

@media (max-width: 540px) {
    section.checkboxes {
        display: none;
    }
}

@media (min-width: 541px) {
    section.dropdown {
        display: none;
    }
}