/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';


h3 {
    font-size: 1.0em;
}

.material-components {
    
    button[mat-raised-button] {
        background-color: red;
    }

    mat-checkbox {
        label span.mat-checkbox-label{
            font-weight: bold;
            font-size: 35px;
            line-height: 40px;
        }

        div.mat-checkbox-inner-container {
            height: 40px;
            width: 40px;
        }
    }
}

.bootstrap-components {
    ngb-accordion div.card {
        background-color: moccasin;
    }
}

@media (min-width: 541px) {
    .cdk-overlay-pane {
        display: none;
    }
}

